version: '3.8'

services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: fleetflow

  backend:
    build: ./server
    restart: unless-stopped
    ports:
      - '5000:5000'
    depends_on:
      - mongo
    environment:
      PORT: 5000
      MONGO_URI: mongodb://mongo:27017/fleetflow
      JWT_SECRET: ff_super_secret_jwt_key_2024
      JWT_REFRESH_SECRET: ff_super_secret_refresh_key_2024
      CLIENT_URL: http://localhost:3000

  frontend:
    build: ./client
    restart: unless-stopped
    ports:
      - '3000:80'
    depends_on:
      - backend

volumes:
  mongo_data:
